@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --color-blue: #3E92CC;
  --color-green: #44AF69;
  --color-white: #E9EDED;
  --color-grey: #404E4D;
  --color-black: #1C1C23;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
  background: linear-gradient(to left, var(--color-black), var(--color-grey));
}

h7 {
  color: var(--color-green);
  font-size: 30px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
}

.forms-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-section {
  width: 400px;
  height: 400px;
  background-color: var(--color-grey);
  padding: 20px;
  border: 1px solid var(--color-blue);
  border-radius: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  text-align: center;
}

.login-section h2 {
  margin-bottom: 20px;
  color: var(--color-black);
}

.login-section p {
  margin-bottom: 20px;
  color: var(--color-black);
  font-size: 12px;
}

.login-section input[type="text"],
.login-section input[type="password"] {
  width: calc(70% - 22px);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid var(--color-white);
}

.login-section input[type="submit"] {
  width:50%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--color-green);
  color: var(--color-white);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.login-section input[type="submit"]:hover {
  background-color: var(--color-blue);
}

button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--color-blue);
  color: var(--color-white);
}

button:hover {
  background-color: var(--color-blue);
}

.logoWhite {
  width: 80%;
}

.registerLink {
  text-decoration: none;
}
