@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --color-blue: #3E92CC;
  --color-green: #44AF69;
  --color-white: #E9EDED;
  --color-grey: #404E4D;
  --color-black: #1C1C23;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
  background-color: var(--color-black);
  color: var(--color-white);
}

.forms-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 50vh; */
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

p1 {
  color: var(--color-white);
  font-size: 15px;
}

p2 {
  color: var(--color-white);
  font-size: 10px;

}

.register-section {
  width: 400px;
  height: 400px;
  background-color: var(--color-grey);
  padding: 20px;
  border: 1px solid var(--color-blue);
  border-radius: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  text-align: center;
}

.register-section h2 {
  margin-bottom: 20px;
  color: var(--color-black);
}

.register-section p {
  margin-bottom: 20px;
  color: rgb(93, 92, 92);
  font-size: 18px;
}

.register-section .regText {
  margin-bottom: 20px;
  color: var(--color-black);
  font-size: 10px;
}

.register-section input[type="text"],
.register-section input[type="password"] {
  width: calc(70% - 22px);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid var(--color-grey);
}

.register-section input[type="submit"] {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--color-green);
  color: var(--color-white);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-section input[type="submit"]:hover {
  background-color: var(--color-blue);
}
