@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&display=swap');

.gamesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    font-family: 'Orbitron', sans-serif;
}

.gameItem {
    width: calc(25% - 20px);
    box-sizing: border-box;
    margin-bottom: 70px;
}
  
button {
    background-color: #44AF69;
    font-family: 'Orbitron', sans-serif;
    font-size: 8px;
    padding: 5px;
    margin: 0px;
}

.closeButton {
    background-color: #44AF69;
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 20px;
}

.gameImage {
    width: 100%;
    height: 160px;
}
  

.gameTitle {
    margin-top: 10px; 
    color: #3e92cc;
    font-family: 'Orbitron', sans-serif;
    font-size: 10px;
    text-align: center;
    letter-spacing: 1px;
}

.findOutMore {
    width: 100%;
    background-color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    color: #3e92cc;
    border-radius: 0;
    height:20px;
    padding:3px;
}

.controls {
    display:flex;
    flex-direction: column;
    font-size: 10px;
    letter-spacing: 1px;
    color: #44AF69;
}

.control {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:2px;
}

.paginationControls {
    display:flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 10px;;
}

.paginationControls button{
    color: #44AF69;
    font-size: 12px;
    background-color: transparent;
    font-family: 'Orbitron', sans-serif;
}

.paginationControlsModal {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.paginationButtonModal {
    background-color: #2196F3;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}