@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --color-blue: #3E92CC;
  --color-green: #44AF69;
  --color-white: #E9EDED;
  --color-grey: #404E4D;
  --color-black: #1C1C23;
}

.navBar {
  display: flex;
  justify-content: space-between;
  font-family: 'Orbitron', sans-serif;
  height: 50px;
  background: linear-gradient(to right, var(--color-black), var(--color-grey));
  color: var(--color-blue);
  padding: 10px 20px 30px 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

li {
  display: inline-flex;
  align-items: center;
  margin-top:7px;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
}

.menuIcon {
  margin-right: 10px;
  padding: none;
}

li:hover {
  font-weight: 800;
}

span {
  line-height: 1;
}

.link {
  color: var(--color-blue);
  text-decoration: none;
}

.logo {
  padding-top:20px;
  padding-left:20px;
}

/* welcome, logout, settings */
.list2 {
  list-style-type: none;
  padding: none;
  margin: none;
  width: 550px;
  height: 35px;
  color: var(--color-green);
}

/* LOGOUT */
.logoutBtn {
  font-family: 'Orbitron', sans-serif;
  height: 50px;
  font-size: 1em;
  color: var(--color-blue);
  background-color: transparent;
  text-decoration: none;
}

.logoutBtn:hover {
  font-weight: 800;
  background-color: transparent;
  text-decoration: none;
}

/* SETTINGS */
.settings-icon {
  font-family: 'Orbitron', sans-serif;
  font-size: 3em;
  margin-right: 10px;
}

.settings-button {
  color: var(--color-blue);
  background-color: transparent;
  text-decoration: none;
  padding: none;
}

.settings-button:hover {
  font-weight: 800;
  background-color: transparent;
  text-decoration: none;
}

/* MODAL USER SETTINGS */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-white);
  height: 100%;
}

.modal-content {
  display: flex; 
  align-items: center;
  justify-content: center;
}

h4 {
  color: var(--color-black);
  font-size: 2em;
}

.modal-content button {
  font-family: 'Orbitron', sans-serif;
  height: 50px;
  width: 50px;
  font-size: 1em;
  margin: 20px;
}

.delBt {
  font-family: 'Orbitron', sans-serif;
  height: 50px;
  font-size: 1em;
}

.delBt:hover {
  background-color: red;
}

.change h3 {
  font-family: 'Orbitron', sans-serif;
  color: var(--color-blue);
}

.change input {
  width: 200px;
  height: 30px;
  margin: 2px;
  border: none;
  border-radius: 3px;
}

.changeBt {
  font-family: 'Orbitron', sans-serif;
  background-color: var(--color-blue);
  color: var(--color-white);
}

.changeBt:hover {
  background-color: var(--color-green);
}