@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --color-blue: #3E92CC;
  --color-green: #44AF69;
  --color-white: #E9EDED;
  --color-grey: #404E4D;
  --color-black: #1C1C23;
}

.App {
  display: flex;
  font-family: 'Orbitron', sans-serif;
}

.sidebar-wrapper {
  width: 230px; 
  height: 100vh;
  overflow-y: auto;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  padding: 20px; 
}

.columns-container {
  display: flex;
}

.left-column {
  flex: 60%; 
  padding-right: 40px; 
  padding-left: 40px;
}

.right-column {
  flex: 40%; 
  width: 260px;
  padding-right: 10px; 
  padding-left: 10px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-black);
}

.forms-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--color-green);
  color: var(--color-white);
}

button:hover {
  background-color: var(--color-blue);
}

p {
  font-size: 18px;
  color: var(--color-white);
}

hr {
  border: none;
  border-top: 1px solid var(--color-white);
  margin: 20px 0;
}

h1 {
  font-size: 40px;
  margin-bottom: 5px;
  color: var(--color-white);
}

h2 {
  font-size: 30px;
  margin-bottom: 5px;
  color: var(--color-white);
}

h3 {
  font-size: 20px;
  margin-bottom: 5px;
  color: var(--color-white);
}

.logoWhite {
  width: 200px;
}

.uploadImage {
  width: 600px;
}

.icon {
  width: 30px;
  padding-right: 15px;
}

.saveButton img {
  width: 30px;
  padding-right: 15px;
  filter: grayscale(0); /* Initially set to normal color */
  transition: filter 0.3s ease; /* Add a smooth transition effect */
}

.saveButton img:hover {
  filter: grayscale(100%); /* Converts the image to greyscale on hover */
}

.iconBox {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.avatar {
  width:30px;
  height:30px;
  border-radius:50%;
  margin-right: 15px;
}

.card {
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--color-grey);
}

.logo {
  height: 35px;
}

.avatarBox {
  display: flex;
  align-items: center;
  margin-top:7px;
  padding: 5px;
  cursor: pointer;
}

.avatarBox p {
  font-size: 14px;
}

.profileIcon {
  width: 40px;
}

.rightColumn {
  display:flex;
  flex-direction: column;
}

.logoutRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileIconContainer {
  margin-right: 10px;
}

.logoutRow .profileIcon {
  width: 70px;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.logoutRow span {
  display: flex;
  flex-direction: column;
}

.logoutRow p {
  color: var(--color-white);
  font-size: 12px;
  margin:0px;
}

.followButtonContainer {
  margin-left: auto;
}

.logoutRow h1 {
  color: var(--color-white);
  font-size: 13px;
  font-weight: 600;
  margin:0px;
}

.suggestedHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.suggestedHeader p {
  color: white;
  font-size: 12px;
  margin:0px;
}

.suggestedHeader h1 {
  color: white;
  font-size: 13px;
  font-weight: 600;
  margin:0px;
}

.likedBy {
  display: flex;
  align-items: center;
  margin-top:7px 0 0 0;
  padding: 0px;
  cursor: pointer;
}

.likedBy p {
  font-size: 12px;
}

.likedByIcon {
  width: 40px;
}

.commentBox p {
  margin:7px 0 0 5px;
  font-size: 14px;
  color:#ffffff;
}

.addCommentBox {
  display: flex;
  align-items:last baseline;
  justify-content: space-between;
  margin:7px 0 0 5px;
  padding: 0px;
  cursor: pointer;
}

.addCommentBox p{
  margin: 5px 0 0 0px;
  font-size: 14px;
  color:#848484;
}

.smileyIcon {
  width: 15px;
  filter: grayscale(50%);
}

