.paginationControlsModal {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Add margin as needed */
}

.paginationButtonModal {
    background-color: #2196F3;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    margin: 0 5px; /* Add margin between buttons */
    cursor: pointer;
}