@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.sidebar {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  width: 240px;
  height: 100vh; /* Full height of the viewport */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  color: #fff;
  padding-top: 30px;
  padding-left:15px;
  overflow-y: auto; /* Allow scrolling if content exceeds height */
  border-right: 1px solid #454545;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-top:7px;
  padding: 5px;
  cursor: pointer;
}

.menuIcon {
  margin-right: 10px;
}

li:hover {
  font-weight: 800;
}

span {
  line-height: 1;
}
.flexrow{
display: flex;
justify-content: space-between
};