@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&display=swap');

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Orbitron', sans-serif;
  height: 50px;
  background: linear-gradient(to right, #1C1C23, #2f2f3f);
  color: #3E92CC;
  padding: 10px 20px 30px 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-top:7px;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
}

.menuIcon {
  margin-right: 10px;
}

li:hover {
  font-weight: 800;
}

span {
  line-height: 1;
}